

.login-container {
    width: 500px; 
    height: 600px;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 16px;
}

.login-container > * {
    padding: 20px;
}
.login-container > hr {
    width: 85%;
    margin: 0 auto;
}

.login-container > .login-title {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}
.login-container > .login-img-container{
    text-align: center;
    margin: 0 auto;
}


/* form div 전역 속성 */
.login-container > form > div{
    width: 100%;
}
.login-container > form > div > input {
    height: 50px;
    font-size: 20px;

}

/* id & pass word */


.id-form > .id > input,  .id-form > .password > input{
    margin-top: 20px;
}

.id-form > .button-div > input {
    margin-top: 20px;
    height: 50px;
}

/*하단 */

.mv-regist-container {
    width: 100%;
}

.mv-regist-container > a {
    text-align: center;
}
.mv-regist-container > a:first-child{
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid black;
}

.mv-regist-container > a:last-child{
    padding-left: 20px;
}