@import url("https://fonts.googleapis.com/css?family=Jua:400");

img {
  /* content: url(../img/def-user.png); */
}

* {
  font-family: "Jua", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.15s;
}

hr {
  margin-top: 0;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
}

body {
  background-color: rgba(255, 255, 255, 0.666);
}

/* a태그 기본속성 제거 */
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

/* ul li 태그 기본속성 제거 */
ul {
  list-style: none;
}

/* 화면에 여백을 주는 div 요소용 css */
.divider-min {
  height: 2vh;
}

.divider0 {
  height: 4vh;
}
.divider1 {
  height: 8vh;
}
.divider2 {
  height: 12vh;
}
.divider3 {
  height: 16vh;
}
.divider4 {
  height: 20vh;
}
.div-silver {
  background-color: silver;
}

/* 웹에서 스크롤바 안보이게 하는 설정 */
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

/* 기본 버튼 css */

.defbtn {
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

/* 기본 폼태그 관련 css */
.default-input {
  width: 100%;
  height: 45px;
  outline: none;
  border: 1.3px solid black;
  border-radius: 8px;
  padding: 12px;
  font-size: large;
}

.default-input:focus {
  transition: 0.1s;
  box-shadow: 3px 3px 3px rgb(191, 226, 226), -3px -3px 3px rgb(191, 226, 226), 3px -3px 3px rgb(191, 226, 226),
    -3px 3px 3px rgb(191, 226, 226);
}

/* 뱃지 관련 속성 */
/* 뱃지 속성 */

.badge {
  display: inline-block;
  width: 70px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-weight: 100;
  border-radius: 10px;
  font-size: 16px;

  color: white;
}

.s-badge {
  display: inline-block;
  width: 50px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-weight: 100;
  font-size: 12px;
  border-radius: 8px;
  color: white;
}

.lcy-badge {
  background-color: lightcyan;
}

.dgr-badge {
  background-color: darkgrey;
}

.def-badge {
  background-color: var(--defColor);
}

.r-badge {
  background-color: red;
}

.b-badge {
  background-color: skyblue;
}

.y-badge {
  background-color: yellow;
  color: black;
}

.g-badge {
  background-color: green;
}

.o-badge {
  background-color: orange;
}

/* 플렉스 속성 */
.flex-def {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-even {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

/* 폼태그 속성 */

/* 메인 테마 색상 */
:root {
  --defColor: #ffaa66;
  --defColorDark: #e99a5a;
  --dangerColor: rgb(218, 49, 49);
  --dangerColorDark: rgb(187, 38, 38);
  --pastelPink: #f28cd0d0;
  --pastelPurple: #af6cbec1;
}

@import "animate.css";

/* 대기열 폰트 */
.wating-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100vw;
  height: 150vh;
  background-color: rgba(39, 39, 39, 0.445) !important;
  transition: 0.7s;
}

.wating-icon {
  z-index: 999;
  position: fixed;
  top: 40vh;
  left: 50vw;
  font-size: 70px;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-name: spin;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
