.banner {
  width: 100vw;
}

.banner .banner-img {
  display: block;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background-image: url("../img/banner-sample.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.banner-img:hover {
  transform: scale(1.1);
  transition: 1s;
}
*/

/*배너 버튼 관련 속성 */
#bannerBtn {
  position: absolute;
  bottom: 0;
}

#bannerBtn > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
#bannerBtn > ul > li {
}

/* 검색상자 관련 속성 */

.main-search-box {
  width: max-content;
  margin: 0 auto;
}

.main-search-box > p {
  font-size: 48px;
  text-align: center;
}

.main-search-box > div > input {
  width: 45vw;
  height: 60px;
  font-size: 20px;
  text-align: center;
}

/* 썸네일 관련 속성 */
.thumbnail {
  text-align: left;
}

.main-thumbnail-title > p {
  font-size: 48px;
  text-align: center;
}

.m-span {
  color: orange;
}

.thumbnail-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
}

.thumbnail {
  display: inline-block;
  cursor: pointer;
  padding: 0;
  margin: 10px;
  width: 320px;
  height: 400px;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 16px;

  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px rgba(158, 157, 157, 0.648);
}

.thumbnail:hover {
  transition: 0.3s;
  transform: translate(0px, -5px);
}

.thumbnail img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 60%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  margin-bottom: 24px;
}

.text-caption {
  padding-left: 10px;
}

/* 태그 박스 관련 속성 */

.tag-box {
  height: max-content;
  width: 800px;
  margin: 0 auto;
}
@media (max-width: 720px) {
  .tag-box {
    width: 100vw;
  }
}

.tag-badge {
  width: 180px;
  height: 40px;
  background-color: darkgrey;
  font-size: 24px;
  font-weight: 12px;
  margin: 10px;
  color: white;
  line-height: 40px;
}

.tag-badge-selected {
  background-color: orangered;
  color: white;
}

.tag-badge:hover {
  background-color: orangered;
  transition: 0.3s;
  color: white;
}

/* 컨텐츠 박스 영역 속성 */
.news > div > h2,
.news > div li {
  padding: 5px;
}

.house-news,
.boards {
  margin: 15px;
  width: 500px;
  height: 300px;
}

.house-news > ul,
.boards > ul {
  list-style: none;
  /* text-align: left; */
}

.house-news > ul > li,
.boards > ul > li {
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-box ul > li :hover {
  color: darkgrey;
}

.press {
  color: orange;
}
