/* select box 속성  */

.select-box {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: white;
}

.select-box > select {
  margin-top: 15px;
  width: 105px;
  height: 50px;
  margin: 2px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.select-box > h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* map 관련 속성 (kakao) */

.map-container {
  display: flex;
  padding: 30px;
}

/* 지도 옆 items 에 대한 설정들 */
.items {
  width: 330px;
  height: 68vh;
  margin-right: 5px;
}
.items > .apt-items-container {
  height: 68vh;
  overflow: scroll;
}

/* .items > .apt-items-container::-webkit-scrollbar { 
  display: none;  Chrome, Safari, Opera
}*/

.items > h2 {
  position: absolute;
  top: 0px;
  background-color: white;
  margin-bottom: 30px;
}

/* 아파트 정보 하나하나에 대한 설정 */
.apt-info {
  cursor: pointer;
  padding: 20px;
  width: 95%;
  height: 220px;
  margin-left: 10px;
  font-size: 20px;
  border: 2px solid #ffaa66;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 10px;
}

.apt-info:hover {
  border: 2px solid rgb(234, 98, 98);
  transition: 0.15s;
}

.apt-info > * {
  width: max-content;
  margin-top: 10px;
  text-align: left;
}
.apt-info > * td[colSpan] {
  text-align: right;
  /* background-color: black; */
}

/* 여기 까지... */

/* 대기열 발생시 이미지 */

/* 카카오 지도 관련 CSS 속성 */
#map {
  border: 2px solid black;
  border-radius: 5px;
  width: 82%;
  height: 80vh;
}

/* 맵 인포박스 css */
.addr-dong-info-box {
  padding-left: 5px;
  margin: 0;
  padding-top: 10px;
  width: 250px;
  height: 70px;
  border: 1px solid black;
  text-align: center;
}
.addr-dong-info-box > hr {
  border: 1px solid #ffaa66;
}
.addr-dong-info-box > p:nth-child(3) {
  padding-top: 10px;
}

/*아파트 개발 인포박스 css */
.addr-apt-info-box {
  padding-left: 5px;
  margin: 0;
  padding-top: 10px;
  width: 250px;
  height: 70px;
  border: 1px solid black;
  text-align: center;
}
.addr-apt-info-box > hr {
  border: 1px solid #e99a5a;
}
.addr-apt-info-box > p:nth-child(3) {
  padding-top: 10px;
}

.customoverlay {
  position: relative;
  bottom: 85px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
}
.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.customoverlay a {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  background: #d95050;
  background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px
    center;
}
.customoverlay .title {
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
}
.customoverlay:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
